.liste {
    list-style-type: none;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    padding-top: 20px;
    padding-bottom: 20px;
}

.items {
    padding: 15px;
    font-size: large;
    font-weight: 800;
    margin-right: 10px;
    color: lightcoral;
    cursor: pointer;
}